<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.hzq.nacos.caseadminauth.mapper.sys.TSysAccountMapper">
	<resultMap id = "BaseResultMap" type = "com.hzq.nacos.caseadminauth.entity.sys.TSysAccount">
		<!--@mbg.generated-->
		<!--@Table
			T_SYS_ACCOUNT-->
		<id column = "PK" jdbcType = "VARCHAR" property = "pk"/>
		<result column = "USERNAME" jdbcType = "VARCHAR" property = "username"/>
		<result column = "IDNO" jdbcType = "VARCHAR" property = "idno"/>
		<result column = "PASSWORD" jdbcType = "VARCHAR" property = "password"/>
		<result column = "SALT" jdbcType = "VARCHAR" property = "salt"/>
		<result column = "ISADMIN" jdbcType = "CHAR" property = "isadmin"/>
		<result column = "DEPTID" jdbcType = "VARCHAR" property = "deptid"/>
		<result column = "XM" jdbcType = "VARCHAR" property = "xm"/>
		<result column = "JH" jdbcType = "VARCHAR" property = "jh"/>
		<result column = "LXFS" jdbcType = "VARCHAR" property = "lxfs"/>
		<result column = "JGDM" jdbcType = "VARCHAR" property = "jgdm"/>
		<result column = "JGMC" jdbcType = "VARCHAR" property = "jgmc"/>
		<result column = "JZ" jdbcType = "VARCHAR" property = "jz"/>
		<result column = "ZWJB" jdbcType = "VARCHAR" property = "zwjb"/>
		<result column = "YHZSDM" jdbcType = "VARCHAR" property = "yhzsdm"/>
		<result column = "ZT" jdbcType = "CHAR" property = "zt"/>
		<result column = "YHID" jdbcType = "VARCHAR" property = "yhid"/>
		<result column = "ZPID" jdbcType = "VARCHAR" property = "zpid"/>
		<result column = "BCRPASSWORD" jdbcType = "VARCHAR" property = "bcrpassword"/>
		<result column = "INITPWD" jdbcType = "VARCHAR" property = "initpwd"/>
	</resultMap>
	<sql id = "Base_Column_List">
		<!--@mbg.generated-->
		PK, USERNAME, IDNO, "PASSWORD", SALT, ISADMIN, DEPTID, XM, JH, LXFS, JGDM, JGMC,
		JZ, ZWJB, YHZSDM, ZT, YHID, ZPID, BCRPASSWORD, INITPWD
	</sql>
</mapper>