<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.hzq.nacos.caseadminauth.mapper.sys.TSysRolePermissionMapper">
	<resultMap id = "BaseResultMap" type = "com.hzq.nacos.caseadminauth.entity.sys.TSysRolePermission">
		<!--@mbg.generated-->
		<!--@Table
			T_SYS_ROLE_PERMISSION-->
		<result column = "ROLEID" jdbcType = "VARCHAR" property = "roleid"/>
		<result column = "PERMITID" jdbcType = "VARCHAR" property = "permitid"/>
	</resultMap>
</mapper>