<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.hzq.nacos.caseadminperson.mapper.docase.TbAjAjglrMapper">
	<resultMap id = "BaseResultMap" type = "com.hzq.nacos.caseadminperson.entity.docase.TbAjAjglr">
		<!--@mbg.generated-->
		<!--@Table
			TB_AJ_AJGLR-->
		<id column = "GLID" jdbcType = "VARCHAR" property = "glid"/>
		<result column = "AJBH" jdbcType = "VARCHAR" property = "ajbh"/>
		<result column = "RYBH" jdbcType = "VARCHAR" property = "rybh"/>
		<result column = "XM" jdbcType = "VARCHAR" property = "xm"/>
		<result column = "SFZH" jdbcType = "VARCHAR" property = "sfzh"/>
		<result column = "ZZ" jdbcType = "VARCHAR" property = "zz"/>
		<result column = "SSGS" jdbcType = "VARCHAR" property = "ssgs"/>
		<result column = "ZW" jdbcType = "VARCHAR" property = "zw"/>
		<result column = "LXDH" jdbcType = "VARCHAR" property = "lxdh"/>
		<result column = "WLID" jdbcType = "VARCHAR" property = "wlid"/>
		<result column = "BZ" jdbcType = "VARCHAR" property = "bz"/>
		<result column = "LRSJ" jdbcType = "TIMESTAMP" property = "lrsj"/>
		<result column = "LRR" jdbcType = "VARCHAR" property = "lrr"/>
		<result column = "LRRSFZH" jdbcType = "VARCHAR" property = "lrrsfzh"/>
		<result column = "LRDW" jdbcType = "VARCHAR" property = "lrdw"/>
		<result column = "LRDWMC" jdbcType = "VARCHAR" property = "lrdwmc"/>
		<result column = "XGR" jdbcType = "VARCHAR" property = "xgr"/>
		<result column = "XGRSFZH" jdbcType = "VARCHAR" property = "xgrsfzh"/>
		<result column = "XGDW" jdbcType = "VARCHAR" property = "xgdw"/>
		<result column = "XGDWMC" jdbcType = "VARCHAR" property = "xgdwmc"/>
		<result column = "XGSJ" jdbcType = "TIMESTAMP" property = "xgsj"/>
		<result column = "YXX" jdbcType = "VARCHAR" property = "yxx"/>
	</resultMap>
	<sql id = "Base_Column_List">
		<!--@mbg.generated-->
		GLID, AJBH, RYBH, XM, SFZH, ZZ, SSGS, ZW, LXDH, WLID, BZ, LRSJ, LRR, LRRSFZH, LRDW,
		LRDWMC, XGR, XGRSFZH, XGDW, XGDWMC, XGSJ, YXX
	</sql>
</mapper>