<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.hzq.nacos.caseadminperson.mapper.docase.TbAjAjshrxxMapper">
	<resultMap id = "BaseResultMap" type = "com.hzq.nacos.caseadminperson.entity.docase.TbAjAjshrxx">
		<!--@mbg.generated-->
		<!--@Table
			TB_AJ_AJSHRXX-->
		<id column = "GLID" jdbcType = "VARCHAR" property = "glid"/>
		<result column = "AJBH" jdbcType = "VARCHAR" property = "ajbh"/>
		<result column = "RYBH" jdbcType = "VARCHAR" property = "rybh"/>
		<result column = "BMJB" jdbcType = "VARCHAR" property = "bmjb"/>
		<result column = "SHCD" jdbcType = "VARCHAR" property = "shcd"/>
		<result column = "SFBGM" jdbcType = "VARCHAR" property = "sfbgm"/>
		<result column = "SFLY" jdbcType = "VARCHAR" property = "sfly"/>
		<result column = "SHSJ" jdbcType = "TIMESTAMP" property = "shsj"/>
		<result column = "SHDD" jdbcType = "VARCHAR" property = "shdd"/>
		<result column = "SHXS" jdbcType = "VARCHAR" property = "shxs"/>
		<result column = "ZSYY" jdbcType = "VARCHAR" property = "zsyy"/>
		<result column = "ZSGJ" jdbcType = "VARCHAR" property = "zsgj"/>
		<result column = "XHJG" jdbcType = "VARCHAR" property = "xhjg"/>
		<result column = "BZXX" jdbcType = "VARCHAR" property = "bzxx"/>
		<result column = "SHRBS" jdbcType = "VARCHAR" property = "shrbs"/>
		<result column = "YXX" jdbcType = "VARCHAR" property = "yxx"/>
		<result column = "DJSJ" jdbcType = "TIMESTAMP" property = "djsj"/>
		<result column = "DJDW" jdbcType = "VARCHAR" property = "djdw"/>
		<result column = "DJR" jdbcType = "VARCHAR" property = "djr"/>
		<result column = "DJRXM" jdbcType = "VARCHAR" property = "djrxm"/>
		<result column = "XGSJ" jdbcType = "TIMESTAMP" property = "xgsj"/>
		<result column = "XGDW" jdbcType = "VARCHAR" property = "xgdw"/>
		<result column = "XGR" jdbcType = "VARCHAR" property = "xgr"/>
		<result column = "XGRXM" jdbcType = "VARCHAR" property = "xgrxm"/>
		<result column = "AJMJ" jdbcType = "VARCHAR" property = "ajmj"/>
		<result column = "XM" jdbcType = "VARCHAR" property = "xm"/>
		<result column = "XB" jdbcType = "VARCHAR" property = "xb"/>
		<result column = "SFZH" jdbcType = "VARCHAR" property = "sfzh"/>
		<result column = "CSRQ" jdbcType = "TIMESTAMP" property = "csrq"/>
		<result column = "HJDQH" jdbcType = "VARCHAR" property = "hjdqh"/>
	</resultMap>
	<sql id = "Base_Column_List">
		<!--@mbg.generated-->
		GLID, AJBH, RYBH, BMJB, SHCD, SFBGM, SFLY, SHSJ, SHDD, SHXS, ZSYY, ZSGJ, XHJG, BZXX,
		SHRBS, YXX, DJSJ, DJDW, DJR, DJRXM, XGSJ, XGDW, XGR, XGRXM, AJMJ, XM, XB, SFZH, CSRQ,
		HJDQH
	</sql>
</mapper>