<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.hzq.nacos.caseadmindocase.mapper.ajjbxx.TbStAjjbxxMapper">
	<resultMap id = "BaseResultMap" type = "com.hzq.nacos.caseadmindocase.entity.ajjbxx.TbStAjjbxx">
		<!--@mbg.generated-->
		<!--@Table
			TB_ST_AJJBXX-->
		<result column = "AJBH" jdbcType = "VARCHAR" property = "ajbh"/>
		<result column = "JLBH" jdbcType = "VARCHAR" property = "jlbh"/>
		<result column = "XKBH" jdbcType = "VARCHAR" property = "xkbh"/>
		<result column = "AJMJ" jdbcType = "VARCHAR" property = "ajmj"/>
		<result column = "AJLB" jdbcType = "VARCHAR" property = "ajlb"/>
		<result column = "AJLB_LA" jdbcType = "VARCHAR" property = "ajlbLa"/>
		<result column = "AJMC" jdbcType = "VARCHAR" property = "ajmc"/>
		<result column = "AJZTC" jdbcType = "VARCHAR" property = "ajztc"/>
		<result column = "AJZT" jdbcType = "VARCHAR" property = "ajzt"/>
		<result column = "AJLY" jdbcType = "VARCHAR" property = "ajly"/>
		<result column = "AJDBJB" jdbcType = "VARCHAR" property = "ajdbjb"/>
		<result column = "AJDBBH" jdbcType = "VARCHAR" property = "ajdbbh"/>
		<result column = "BARXM" jdbcType = "VARCHAR" property = "barxm"/>
		<result column = "BARXB" jdbcType = "VARCHAR" property = "barxb"/>
		<result column = "BARCSRQ" jdbcType = "TIMESTAMP" property = "barcsrq"/>
		<result column = "BARDW" jdbcType = "VARCHAR" property = "bardw"/>
		<result column = "BARLXFS" jdbcType = "VARCHAR" property = "barlxfs"/>
		<result column = "BARZZ" jdbcType = "VARCHAR" property = "barzz"/>
		<result column = "BARZJZL" jdbcType = "VARCHAR" property = "barzjzl"/>
		<result column = "BARZJHM" jdbcType = "VARCHAR" property = "barzjhm"/>
		<result column = "BARBMJB" jdbcType = "VARCHAR" property = "barbmjb"/>
		<result column = "BADWMC" jdbcType = "VARCHAR" property = "badwmc"/>
		<result column = "BADWDZ" jdbcType = "VARCHAR" property = "badwdz"/>
		<result column = "BADWLXR" jdbcType = "VARCHAR" property = "badwlxr"/>
		<result column = "BADWLXFS" jdbcType = "VARCHAR" property = "badwlxfs"/>
		<result column = "BASJ" jdbcType = "TIMESTAMP" property = "basj"/>
		<result column = "FXSJ" jdbcType = "TIMESTAMP" property = "fxsj"/>
		<result column = "FASJSX" jdbcType = "TIMESTAMP" property = "fasjsx"/>
		<result column = "FASJXX" jdbcType = "TIMESTAMP" property = "fasjxx"/>
		<result column = "AJSSQX" jdbcType = "VARCHAR" property = "ajssqx"/>
		<result column = "AJFADZRQ" jdbcType = "VARCHAR" property = "ajfadzrq"/>
		<result column = "AJJLX" jdbcType = "VARCHAR" property = "ajjlx"/>
		<result column = "AJMLPH" jdbcType = "VARCHAR" property = "ajmlph"/>
		<result column = "AJMPHZ" jdbcType = "VARCHAR" property = "ajmphz"/>
		<result column = "AJMLXZ" jdbcType = "VARCHAR" property = "ajmlxz"/>
		<result column = "AJDZ" jdbcType = "VARCHAR" property = "ajdz"/>
		<result column = "AJSSZRQ" jdbcType = "VARCHAR" property = "ajsszrq"/>
		<result column = "AJSSZRQMC" jdbcType = "VARCHAR" property = "ajsszrqmc"/>
		<result column = "SLZH" jdbcType = "VARCHAR" property = "slzh"/>
		<result column = "SLSJ" jdbcType = "TIMESTAMP" property = "slsj"/>
		<result column = "SLR" jdbcType = "VARCHAR" property = "slr"/>
		<result column = "SLRXM" jdbcType = "VARCHAR" property = "slrxm"/>
		<result column = "SLRDW" jdbcType = "VARCHAR" property = "slrdw"/>
		<result column = "SLRDWMC" jdbcType = "VARCHAR" property = "slrdwmc"/>
		<result column = "SLFS" jdbcType = "VARCHAR" property = "slfs"/>
		<result column = "SLDWDH" jdbcType = "VARCHAR" property = "sldwdh"/>
		<result column = "SLJBMJ" jdbcType = "VARCHAR" property = "sljbmj"/>
		<result column = "SLJBSJ" jdbcType = "TIMESTAMP" property = "sljbsj"/>
		<result column = "SLJBDD" jdbcType = "VARCHAR" property = "sljbdd"/>
		<result column = "SLSAYJ" jdbcType = "VARCHAR" property = "slsayj"/>
		<result column = "SLYJYS" jdbcType = "VARCHAR" property = "slyjys"/>
		<result column = "SLYJQT" jdbcType = "VARCHAR" property = "slyjqt"/>
		<result column = "SASPJG" jdbcType = "VARCHAR" property = "saspjg"/>
		<result column = "SLSPYJ" jdbcType = "VARCHAR" property = "slspyj"/>
		<result column = "SASPR" jdbcType = "VARCHAR" property = "saspr"/>
		<result column = "SASPRXM" jdbcType = "VARCHAR" property = "sasprxm"/>
		<result column = "SASPSJ" jdbcType = "TIMESTAMP" property = "saspsj"/>
		<result column = "JYAQ" jdbcType = "VARCHAR" property = "jyaq"/>
		<result column = "ZBDW" jdbcType = "VARCHAR" property = "zbdw"/>
		<result column = "ZBDWMC" jdbcType = "VARCHAR" property = "zbdwmc"/>
		<result column = "XBDW" jdbcType = "VARCHAR" property = "xbdw"/>
		<result column = "ZSBADW" jdbcType = "VARCHAR" property = "zsbadw"/>
		<result column = "ZSBADWMC" jdbcType = "VARCHAR" property = "zsbadwmc"/>
		<result column = "ZBR" jdbcType = "VARCHAR" property = "zbr"/>
		<result column = "ZBRXM" jdbcType = "VARCHAR" property = "zbrxm"/>
		<result column = "ZBRDH" jdbcType = "VARCHAR" property = "zbrdh"/>
		<result column = "XBR" jdbcType = "VARCHAR" property = "xbr"/>
		<result column = "XBRXM" jdbcType = "VARCHAR" property = "xbrxm"/>
		<result column = "SCDQSJ" jdbcType = "TIMESTAMP" property = "scdqsj"/>
		<result column = "SCSJ" jdbcType = "TIMESTAMP" property = "scsj"/>
		<result column = "SHJG" jdbcType = "VARCHAR" property = "shjg"/>
		<result column = "SPJG" jdbcType = "VARCHAR" property = "spjg"/>
		<result column = "CBDWSHJG" jdbcType = "VARCHAR" property = "cbdwshjg"/>
		<result column = "LASJ" jdbcType = "TIMESTAMP" property = "lasj"/>
		<result column = "LADW" jdbcType = "VARCHAR" property = "ladw"/>
		<result column = "LADWMC" jdbcType = "VARCHAR" property = "ladwmc"/>
		<result column = "LAPZR" jdbcType = "VARCHAR" property = "lapzr"/>
		<result column = "LAPZRXM" jdbcType = "VARCHAR" property = "lapzrxm"/>
		<result column = "BLYY" jdbcType = "VARCHAR" property = "blyy"/>
		<result column = "CXRQ" jdbcType = "TIMESTAMP" property = "cxrq"/>
		<result column = "CXDW" jdbcType = "VARCHAR" property = "cxdw"/>
		<result column = "CXDWMC" jdbcType = "VARCHAR" property = "cxdwmc"/>
		<result column = "CXPZR" jdbcType = "VARCHAR" property = "cxpzr"/>
		<result column = "CXPZRXM" jdbcType = "VARCHAR" property = "cxpzrxm"/>
		<result column = "CXYY" jdbcType = "VARCHAR" property = "cxyy"/>
		<result column = "YSDW" jdbcType = "VARCHAR" property = "ysdw"/>
		<result column = "YSDWMC" jdbcType = "VARCHAR" property = "ysdwmc"/>
		<result column = "YSR" jdbcType = "VARCHAR" property = "ysr"/>
		<result column = "YSRXM" jdbcType = "VARCHAR" property = "ysrxm"/>
		<result column = "YSDWLXDH" jdbcType = "VARCHAR" property = "ysdwlxdh"/>
		<result column = "YSYY" jdbcType = "VARCHAR" property = "ysyy"/>
		<result column = "YSSJ" jdbcType = "TIMESTAMP" property = "yssj"/>
		<result column = "JSDW" jdbcType = "VARCHAR" property = "jsdw"/>
		<result column = "JSDWMC" jdbcType = "VARCHAR" property = "jsdwmc"/>
		<result column = "WBJSDWMC" jdbcType = "VARCHAR" property = "wbjsdwmc"/>
		<result column = "JSR" jdbcType = "VARCHAR" property = "jsr"/>
		<result column = "JSRXM" jdbcType = "VARCHAR" property = "jsrxm"/>
		<result column = "WBJSRXM" jdbcType = "VARCHAR" property = "wbjsrxm"/>
		<result column = "YSJSDWLXDH" jdbcType = "VARCHAR" property = "ysjsdwlxdh"/>
		<result column = "JSSJ" jdbcType = "TIMESTAMP" property = "jssj"/>
		<result column = "PAFS" jdbcType = "VARCHAR" property = "pafs"/>
		<result column = "PALX" jdbcType = "VARCHAR" property = "palx"/>
		<result column = "PADW" jdbcType = "VARCHAR" property = "padw"/>
		<result column = "PADWMC" jdbcType = "VARCHAR" property = "padwmc"/>
		<result column = "XPDW" jdbcType = "VARCHAR" property = "xpdw"/>
		<result column = "PAJK" jdbcType = "VARCHAR" property = "pajk"/>
		<result column = "PARQ" jdbcType = "TIMESTAMP" property = "parq"/>
		<result column = "PAPZSJ" jdbcType = "TIMESTAMP" property = "papzsj"/>
		<result column = "PAPZDW" jdbcType = "VARCHAR" property = "papzdw"/>
		<result column = "PAPZR" jdbcType = "VARCHAR" property = "papzr"/>
		<result column = "JARQ" jdbcType = "TIMESTAMP" property = "jarq"/>
		<result column = "SAZJZ" jdbcType = "DECIMAL" property = "sazjz"/>
		<result column = "JJSS" jdbcType = "DECIMAL" property = "jjss"/>
		<result column = "AJRYSSS" jdbcType = "DECIMAL" property = "ajrysss"/>
		<result column = "AJRYSWS" jdbcType = "DECIMAL" property = "ajrysws"/>
		<result column = "SFYXC" jdbcType = "VARCHAR" property = "sfyxc"/>
		<result column = "SFKCXC" jdbcType = "VARCHAR" property = "sfkcxc"/>
		<result column = "SFMA" jdbcType = "VARCHAR" property = "sfma"/>
		<result column = "YXX" jdbcType = "VARCHAR" property = "yxx"/>
		<result column = "DJSJ" jdbcType = "TIMESTAMP" property = "djsj"/>
		<result column = "DJR" jdbcType = "VARCHAR" property = "djr"/>
		<result column = "DJRXM" jdbcType = "VARCHAR" property = "djrxm"/>
		<result column = "DJDW" jdbcType = "VARCHAR" property = "djdw"/>
		<result column = "DJDWMC" jdbcType = "VARCHAR" property = "djdwmc"/>
		<result column = "XGSJ" jdbcType = "TIMESTAMP" property = "xgsj"/>
		<result column = "XGR" jdbcType = "VARCHAR" property = "xgr"/>
		<result column = "XGDW" jdbcType = "VARCHAR" property = "xgdw"/>
		<result column = "XGDWMC" jdbcType = "VARCHAR" property = "xgdwmc"/>
		<result column = "WSZT" jdbcType = "VARCHAR" property = "wszt"/>
		<result column = "WSBH" jdbcType = "VARCHAR" property = "wsbh"/>
		<result column = "ZBRSFZH" jdbcType = "VARCHAR" property = "zbrsfzh"/>
		<result column = "DJRSFZH" jdbcType = "VARCHAR" property = "djrsfzh"/>
		<result column = "SFZA" jdbcType = "VARCHAR" property = "sfza"/>
		<result column = "ZASZRSFZH" jdbcType = "VARCHAR" property = "zaszrsfzh"/>
		<result column = "ZASZRXM" jdbcType = "VARCHAR" property = "zaszrxm"/>
		<result column = "ZASZRDW" jdbcType = "VARCHAR" property = "zaszrdw"/>
		<result column = "ZASZSJ" jdbcType = "TIMESTAMP" property = "zaszsj"/>
		<result column = "SLRSFZH" jdbcType = "VARCHAR" property = "slrsfzh"/>
		<result column = "XBRSFZH" jdbcType = "VARCHAR" property = "xbrsfzh"/>
		<result column = "DJB_WSBH" jdbcType = "VARCHAR" property = "djbWsbh"/>
		<result column = "DJB_WSWH" jdbcType = "VARCHAR" property = "djbWswh"/>
		<result column = "DJB_WSZT" jdbcType = "VARCHAR" property = "djbWszt"/>
		<result column = "SAHZ_WSBH" jdbcType = "VARCHAR" property = "sahzWsbh"/>
		<result column = "SAHZ_WSZT" jdbcType = "VARCHAR" property = "sahzWszt"/>
		<result column = "JZAJFAB" jdbcType = "VARCHAR" property = "jzajfab"/>
		<result column = "JZAJLB" jdbcType = "VARCHAR" property = "jzajlb"/>
		<result column = "AJLBXLDM" jdbcType = "VARCHAR" property = "ajlbxldm"/>
		<result column = "TSSDLBDM" jdbcType = "VARCHAR" property = "tssdlbdm"/>
		<result column = "AJLYBS" jdbcType = "VARCHAR" property = "ajlybs"/>
		<result column = "SAHZDH" jdbcType = "VARCHAR" property = "sahzdh"/>
		<result column = "SFHG" jdbcType = "VARCHAR" property = "sfhg"/>
		<result column = "AJZSLY" jdbcType = "VARCHAR" property = "ajzsly"/>
		<result column = "SJMPJG" jdbcType = "VARCHAR" property = "sjmpjg"/>
		<result column = "XZBH" jdbcType = "VARCHAR" property = "xzbh"/>
		<result column = "CASE_TYPE" jdbcType = "VARCHAR" property = "caseType"/>
		<result column = "WHID" jdbcType = "VARCHAR" property = "whid"/>
		<result column = "QZLY" jdbcType = "VARCHAR" property = "qzly"/>
		<result column = "SFDQDDC" jdbcType = "VARCHAR" property = "sfdqddc"/>
		<result column = "RFID" jdbcType = "VARCHAR" property = "rfid"/>
		<result column = "FYFSDM" jdbcType = "VARCHAR" property = "fyfsdm"/>
		<result column = "BZ" jdbcType = "VARCHAR" property = "bz"/>
		<result column = "JZRTGQK" jdbcType = "VARCHAR" property = "jzrtgqk"/>
		<result column = "CBRXM" jdbcType = "VARCHAR" property = "cbrxm"/>
		<result column = "CBR_LXDH" jdbcType = "VARCHAR" property = "cbrLxdh"/>
		<result column = "CBRXM2" jdbcType = "VARCHAR" property = "cbrxm2"/>
		<result column = "CBR_LXDH2" jdbcType = "VARCHAR" property = "cbrLxdh2"/>
		<result column = "CDFSDM" jdbcType = "VARCHAR" property = "cdfsdm"/>
		<result column = "SFHSH" jdbcType = "DECIMAL" property = "sfhsh"/>
		<result column = "SFWZFD" jdbcType = "DECIMAL" property = "sfwzfd"/>
		<result column = "FZTHMC" jdbcType = "VARCHAR" property = "fzthmc"/>
		<result column = "FZTHXZDM" jdbcType = "VARCHAR" property = "fzthxzdm"/>
		<result column = "HLWAJLX" jdbcType = "VARCHAR" property = "hlwajlx"/>
		<result column = "QTSM" jdbcType = "VARCHAR" property = "qtsm"/>
		<result column = "SFHLWAJ" jdbcType = "DECIMAL" property = "sfhlwaj"/>
		<result column = "SDXQFS" jdbcType = "VARCHAR" property = "sdxqfs"/>
		<result column = "XQQTSM" jdbcType = "VARCHAR" property = "xqqtsm"/>
		<result column = "CASE_TYPEXL" jdbcType = "VARCHAR" property = "caseTypexl"/>
	</resultMap>
	<update id = "updateDjsj">
		update TB_ST_AJJBXX set DJSJ=sysdate where ajbh=#{ajbh}
	</update>
</mapper>